{% extends 'layout/layout.twig' %}

{% block title %}Administration{% endblock %}

{% block description %}{% endblock %}

{% block main %}

    <main id="admin">

        <!-- Project -->
        <section>
            <h2 class="color-github-base">
                <i class="fab fa-github-square" aria-hidden="true"></i> Projects
            </h2>
            <br>
            <a class="btn-green" href="{{ url('project!create') }}">New Project</a>

            <table class="table">

                <thead>
                <tr>
                    <th>Project</th>
                    <th>Infos</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>

                {% for project in allProjects %}
                    <tr>
                        <td>
                            <a class="btn-github" href="https://github.com/{{ project.link }}" title="Voir le projet sur GitHub">
                                <figure>
                                    <img src="img/projects/{{ project.image }}" alt="Screenshot du projet {{ project.name }}">
                                    <figcaption>{{ project.id }} - {{ project.name }}</figcaption>
                                </figure>
                            </a>
                        </td>

                        <td>
                            {{ project.description }}
                            <hr>
                            {{ project.year }}
                        </td>

                        <td>
                            <a class="btn-blue" href="{{ url('project!update', {'id': project.id}) }}">
                                <i class="fas fa-pen-square fa-fw fa-lg" aria-hidden="true"></i>
                            </a>
                            <a class="btn-red" href="{{ url('project!delete', {'id': project.id}) }}">
                                <i class="fas fa-times-circle fa-fw fa-lg" aria-hidden="true"></i>
                            </a>
                        </td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </section>

        <!-- Certificate -->
        <section>
            <h2 class="color-linkedin-base">
                <i class="fas fa-certificate" aria-hidden="true"></i> Certificates
            </h2>
            <br>
            <a class="btn-green" href="{{ url('certificate!create') }}">New certificate</a>

            <table class="table">

                <thead>
                <tr>
                    <th>Certificate</th>
                    <th>Infos</th>
                    <th>Actions</th>
                </tr>
                </thead>
                    
                <tbody>

                {% for certificate in allCertificates %}
                    <tr>
                        <td>
                            <a class="btn-linkedin" href="https://{{ certificate.link }}" title="Voir le certificat n° {{ certificate.certif_id }}">
                            {{ certificate.id }}<br>{{ certificate.name }}
                            </a>
                        </td>
                        <td>
                            {{ certificate.certif_id }}
                            <hr>
                            {{ date(certificate.certif_date)|date('d/m/y') }}
                        </td>

                        <td>
                            <a class="btn-blue" href="{{ url('certificate!update', {'id': certificate.id}) }}">
                                <i class="fas fa-pen-square fa-fw fa-lg" aria-hidden="true"></i>
                            </a>
                            <a class="btn-red" href="{{ url('certificate!delete', {'id': certificate.id}) }}">
                                <i class="fas fa-times-circle fa-fw fa-lg" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
