{% extends 'layout/layout.twig' %}

{% block title %}Certificates{% endblock %}

{% block description %}Degree, Paths & Courses - Technologies HTML5 & CSS3, JavaScript, jQuery & Nodejs, PHP & Symfony, Python, Ruby & Rails, MySQL, XML, UML, SEO, API REST, Git & GitHub{% endblock %}

{% block main %}

    <!-- Main Controls -->
    <input id="degree" class="block-xs-radio1" type="radio" name="certificate" checked>
    <input id="path" class="block-xs-radio2" type="radio" name="certificate">
    <input id="course" class="block-xs-radio3" type="radio" name="certificate">

    <label class="button-tomato" for="degree">
        <i class="fas fa-graduation-cap fa-lg" aria-hidden="true"></i>
        Degree
    </label>
    <label class="button-jade" for="path">
        <i class="fas fa-road fa-lg" aria-hidden="true"></i>
        Paths
    </label>
    <label class="button-sky" for="course">
        <i class="fas fa-book fa-lg" aria-hidden="true"></i>
        Courses
    </label>


    <main id="certificate" class="text-center-xs hide-xs-global block-xs-relay">

        <!-- Degree -->
        <section class="block-xs-target1 anima-scal-base">
            <h2 class="color-red-base">
                <i class="fas fa-graduation-cap" aria-hidden="true"></i> Degree
            </h2>

            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Degree Certificate</th>
                </tr>
                </thead>

                <tbody>
                {% for degreeCertificate in allDegreeCertificates %}
                    <tr>
                        <td>{{ date(degreeCertificate.certif_date)|date('d/m/y') }}</td>
                        <td>
                            <a class="btn-tomato" href="https://{{ degreeCertificate.link }}" title="Access to Certificate" rel="noreferrer noopener" target="_blank">
                                <span>{{ degreeCertificate.name }}</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Path -->
        <section class="block-xs-target2 anima-scaly-base">
            <h2 class="color-green-base">
                <i class="fas fa-road" aria-hidden="true"></i> Paths
            </h2>

            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Path Certificate</th>
                </tr>
                </thead>

                <tbody>
                {% for pathCertificate in allPathCertificates %}
                    <tr>
                        <td>{{ date(pathCertificate.certif_date)|date('d/m/y') }}</td>
                        <td>
                            <a class="btn-jade" href="https://{{ pathCertificate.link }}" title="Access to Certificate #{{ pathCertificate.certif_id }}" rel="noreferrer noopener" target="_blank">{{ pathCertificate.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Course -->
        <section class="block-xs-target3 anima-scalx-base">
            <h2 class="color-blue-base">
                <i class="fas fa-book" aria-hidden="true"></i> Courses
            </h2>

            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Course Certificate</th>
                </tr>
                </thead>

                <tbody>
                {% for courseCertificate in allCourseCertificates %}
                    <tr>
                        <td>{{ date(courseCertificate.certif_date)|date('d/m/y') }}</td>
                        <td>
                            <a class="btn-sky" href="https://{{ courseCertificate.link }}" title="Access to Certificate #{{ courseCertificate.certif_id }}" rel="noreferrer noopener" target="_blank">{{ courseCertificate.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
