{% extends 'layout/layout.twig' %}

{% block subtitle %}Certificates{% endblock %}

{% block description %}Degree, Paths & Courses - Technologies HTML5 & CSS3, JavaScript, jQuery & Nodejs, PHP & Symfony, Python, Ruby & Rails, MySQL, XML, UML, SEO, API REST, Git & GitHub{% endblock %}

{% block main %}

    <!-- Main Controls -->
    <input id="degree" class="block-radio1" type="radio" name="certificate" checked>
    <input id="path" class="block-radio2" type="radio" name="certificate">
    <input id="course" class="block-radio3" type="radio" name="certificate">

    <label class="button-red" for="degree" title="Fullstack Web Degree">
        <i class="fas fa-graduation-cap fa-lg" aria-hidden="true"></i>
        Degree
    </label>
    <label class="button-green" for="path" title="All Certified Paths">
        <i class="fas fa-road fa-lg" aria-hidden="true"></i>
        Paths
    </label>
    <label class="button-sky" for="course" title="All Certified Courses">
        <i class="fas fa-book fa-lg" aria-hidden="true"></i>
        Courses
    </label>


    <main id="certificate" class="container-90sm-80md-70lg align-center hide-global block-relay">

        <!-- Degree -->
        <section class="block-target1 anima-scal">
            <h2 class="color-red">
                <i class="fas fa-graduation-cap" aria-hidden="true"></i> Degree
            </h2>

            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Degree Certificate</th>
                </tr>
                </thead>

                <tbody>
                {% for degreeCertif in allDegreeCertifs %}
                    <tr>
                        <td>{{ date(degreeCertif.certif_date)|date('d/m/y') }}</td>
                        <td>
                            <a class="button-red" href="https://{{ degreeCertif.link }}" title="Access to Certificate" rel="noreferrer noopener" target="_blank">
                                <span>{{ degreeCertif.name }}</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Path -->
        <section class="block-target2 anima-scaly">
            <h2 class="color-green">
                <i class="fas fa-road" aria-hidden="true"></i> Paths
            </h2>

            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Path Certificate</th>
                </tr>
                </thead>

                <tbody>
                {% for pathCertif in allPathCertifs %}
                    <tr>
                        <td>{{ date(pathCertif.certif_date)|date('d/m/y') }}</td>
                        <td>
                            <a class="button-green" href="https://{{ pathCertif.link }}" title="Access to Certificate #{{ pathCertif.certif_id }}" rel="noreferrer noopener" target="_blank">{{ pathCertif.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Course -->
        <section class="block-target3 anima-scalx">
            <h2 class="color-blue">
                <i class="fas fa-book" aria-hidden="true"></i> Courses
            </h2>

            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Course Certificate</th>
                </tr>
                </thead>

                <tbody>
                {% for courseCertif in allCourseCertifs %}
                    <tr>
                        <td>{{ date(courseCertif.certif_date)|date('d/m/y') }}</td>
                        <td>
                            <a class="button-blue" href="https://{{ courseCertif.link }}" title="Access to Certificate #{{ courseCertif.certif_id }}" rel="noreferrer noopener" target="_blank">{{ courseCertif.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
