{% extends 'layout/layout.twig' %}

{% block title %}Certificates{% endblock %}

{% block description %}Degree, Paths & Courses - Technologies HTML5 & CSS3, JavaScript, jQuery & Nodejs, PHP & Symfony, Python, Ruby & Rails, MySQL, XML, UML, SEO, API REST, Git & GitHub{% endblock %}

{% block main %}

    <!-- Main Controls -->
    <input id="degree" class="block-xs-radio1" type="radio" name="certificate" checked>
    <input id="path" class="block-xs-radio2" type="radio" name="certificate">
    <input id="course" class="block-xs-radio3" type="radio" name="certificate">

    <label class="button-tomato" for="degree">
        <i class="fas fa-graduation-cap fa-lg" aria-hidden="true"></i>
        <span>Degree</span>
    </label>
    <label class="button-jade" for="path">
        <i class="fas fa-road fa-lg" aria-hidden="true"></i>
        <span>Path</span>
    </label>
    <label class="button-sky" for="course">
        <i class="fas fa-book fa-lg" aria-hidden="true"></i>
        <span>Course</span>
    </label>


    <main id="certificate" class="text-center-xs hide-xs-global block-xs-relay">

        <!-- Degree -->
        <section class="block-xs-target1">
            <h2><i class="fa fa-book" aria-hidden="true"></i> Degree</h2>

            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Id</th>
                </tr>
                </thead>

                <tbody>
                {% for degreeCertificate in allDegreeCertificates %}
                    <tr>
                        <td>{{ date(degreeCertificate.certif_date)|date('d/m/y') }}</td>
                        <td>
                            <a class="btn-purple" href="https://{{ degreeCertificate.link }}" title="Access to Certificate" itemprop="url">
                                <span>{{ degreeCertificate.name }}</span>
                            </a>
                        </td>
                        <td>{{ degreeCertificate.certif_id }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Path -->
        <section class="block-xs-target2">
            <h2><i class="fa fa-book" aria-hidden="true"></i> Path</h2>

            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Id</th>
                </tr>
                </thead>

                <tbody>
                {% for pathCertificate in allPathCertificates %}
                    <tr>
                        <td>{{ date(pathCertificate.certif_date)|date('d/m/y') }}</td>
                        <td>
                            <a class="btn-purple" href="https://{{ pathCertificate.link }}" title="Access to Certificate" itemprop="url">{{ pathCertificate.name }}</a>
                        </td>
                        <td>{{ pathCertificate.certif_id }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Course -->
        <section class="block-xs-target3">
            <h2><i class="fa fa-book" aria-hidden="true"></i> Cours</h2>

            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Id</th>
                </tr>
                </thead>

                <tbody>
                {% for courseCertificate in allCourseCertificates %}
                    <tr>
                        <td>{{ date(courseCertificate.certif_date)|date('d/m/y') }}</td>
                        <td>
                            <a class="btn-purple" href="https://{{ courseCertificate.link }}" title="Access to Certificate" itemprop="url">{{ courseCertificate.name }}</a>
                        </td>
                        <td>{{ courseCertificate.certif_id }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
