{% extends 'layout/layout.twig' %}

{% block title %}Fullstack Developer & Mentor{% endblock %}

{% block description %}Philippe Beck - Fullstack Development & Mentorship in Development - Technologies HTML5, Twig, CSS3, SCSS, JavaScript, Nodejs, PHP, Symfony, SQL, Git, GitHub{% endblock %}

{% block main %}
    <main id="home" class="grid-3md gap-3md mar-bot-md-base">

        <!-- Projects -->
        <section class="card-red anima-tranx-base">
            <h2>Projects</h2>
            <figure>
                <img src="img/projects/{{ project.image }}" alt="Screenshot of the project {{ project.name }}">
            </figure>
            <p><strong>{{ project.name }}</strong> ({{ project.year }})</p>
            <a class="btn-tomato" href="{{ url('project') }}">Access to Projects</a>
        </section>

        <!-- Services -->
        <section class="card-green anima-tran-base">
            <h2>Services</h2>
            <p><strong>Fullstack Development</strong> : Websites, Applications, Tools, Mentorship</p>
            <a class="btn-jade" href="{{ url('service') }}">Access to Services</a>
        </section>

        <!-- Certificates -->
        <section class="card-blue anima-trany-base">
            <h2>Certificates</h2>
            <figure>
                <img src="img/about/diplome-3wa.jpg" alt="Fullstack Developer Degree">
            </figure>
            <p>Fullstack Web Development JS & PHP</p>
            <a class="btn-sky" href="{{ url('certificate') }}">Access to Certificates</a>
        </section>
    </main>
{% endblock %}
