{% extends 'layout/layout.twig' %}

{% block subtitle %}Jobs{% endblock %}

{% block description %}{% endblock %}

{% block main %}

    <main id="jobs" class="container-90sm-80md-70lg text-center">

        <!-- JOBS -->
        <article>
            <h2 class="color-red">
                <i class="fab fa-suitcase" aria-hidden="true"></i> Jobs
            </h2>

                {% for job in allJobs %}
                    <section class="card">
                        <figure class="btn-tomato anima-rotax">
                            <a href="https://{{ job.company_link }}" title="Website of {{ job.company }}" rel="noreferrer noopener" target="_blank">
                                <img src="img/jobs/{{ job.logo }}" alt="Logo of {{ job.company }}">
                            </a>
                        </figure>
                        <h3>{{ job.position }}</h3>
                        <p>{{ job.start_date }} - {{ job.end_date }}<br>{{ job.description }}</p>
                        <a class="btn" href="https://{{ job.project_link }}" title="Watch {{ job.project }}" rel="noreferrer noopener" target="_blank">{{ job.project }}</a>
                        <input class="button-check" id="card-check" type="checkbox">
                        <label class="button" for="card-check">Card Button</label>
                    </section>
                {% endfor %}

        </article>
    </main>
{% endblock %}
