{% extends 'layout/layout.twig' %}

{% block subtitle %}Jobs{% endblock %}

{% block description %}{% endblock %}

{% block main %}

    <main id="jobs" class="container-90sm-80lg align-center">

        <!-- JOBS -->
        <article>
            <h2>
                <i class="fas fa-suitcase" aria-hidden="true"></i> Web Development
            </h2>

                {% for job in allJobs %}
                    <section class="card anima-slipT">
                        <h3>{{ job.position }}</h3>
                        <figure>
                            <a href="https://{{ job.company_link }}" title="Website of {{ job.company }}" rel="noreferrer noopener" target="_blank">
                                <img src="img/jobs/{{ job.logo }}" alt="Logo of {{ job.company }}">
                            </a>
                        </figure>
                        <p>From {{ job.start_date }} until {{ job.end_date }} :<br>{{ job.description }}</p>
                        <a class="btn" href="https://{{ job.project_link }}" title="Watch {{ job.project }}" rel="noreferrer noopener" target="_blank">{{ job.project }}</a>
                    </section>
                {% endfor %}

        </article>
    </main>
{% endblock %}
