{% extends 'layout/layout.twig' %}

{% block title %}Projects{% endblock %}

{% block description %}Frameworks & Websites - Languages HTML5, Twig, Pugjs, CSS3, SCSS, Stylus, JavaScript, jQuery, CoffeeScript, Nodejs, Expressjs, PHP, MySQL{% endblock %}

{% block main %}

    <!-- Main Controls -->
    <input id="tool" class="block-xs-radio1" type="radio" name="project" checked>
    <input id="website" class="block-xs-radio2" type="radio" name="project">

    <label class="button-tomato" for="tool">
        <i class="fas fa-tools fa-lg" aria-hidden="true"></i>
        <span>Tools</span>
    </label>
    <label class="button-sky" for="website">
        <i class="fas fa-globe fa-lg" aria-hidden="true"></i>
        <span>Website</span>
    </label>

    <!-- Main Content -->
    <main id="project" class="text-center-xs hide-xs-global block-xs-relay">

        <!-- Frameworks -->
        <section class="block-xs-target1">
            <h2 class="color-github-base">
                <i class="fas fa-tools" aria-hidden="true"></i> Frameworks
            </h2>
            <ul class="grid-2md-3lg-4xl">

                {% for toolProject in allToolProjects %}
                    <li>

                        <a href="{{ toolProject.link }}" title="Watch {{ toolProject.name }} on GitHub">
                            <figure class="btn-blue">

                                <img src="img/projects/{{ toolProject.image }}" alt="Screenshot of {{ toolProject.name }}">
                                <figcaption>
                                    <h3>{{ toolProject.name }}</h3>
                                    <p>{{ toolProject.description }}</p>
                                    <p>{{ toolProject.year }}</p>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </section>

        <!-- WebSite -->
        <section class="block-xs-target2">
            <h2 class="color-github-base">
                <i class="fas fa-globe" aria-hidden="true"></i> WebSite
            </h2>
            <ul class="grid-2md-3lg-4xl">

                {% for websiteProject in allWebsiteProjects %}
                    <li>

                        <a href="{{ websiteProject.link }}" title="Watch {{ websiteProject.name }} on GitHub">
                            <figure class="btn-blue">

                                <img src="img/projects/{{ websiteProject.image }}" alt="Screenshot of {{ websiteProject.name }}">
                                <figcaption>
                                    <h3>{{ websiteProject.name }}</h3>
                                    <p>{{ websiteProject.description }}</p>
                                    <p>{{ websiteProject.year }}</p>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </section>

    </main>
{% endblock %}