{% extends 'layout/layout.twig' %}

{% block subtitle %}Projects{% endblock %}

{% block description %}Frameworks & Websites - Languages HTML5, Twig, Pugjs, CSS3, SCSS, Stylus, JavaScript, jQuery, CoffeeScript, Nodejs, Expressjs, PHP, MySQL{% endblock %}

{% block main %}

    <!-- CONTROLS -->
    <input id="tool" class="block-xs-radio1" type="radio" name="project" checked>
    <input id="website" class="block-xs-radio2" type="radio" name="project">

    <label class="button-tomato" for="tool">
        <i class="fas fa-tools fa-lg" aria-hidden="true"></i>
        Tools
    </label>
    <label class="button-sky" for="website">
        <i class="fas fa-globe fa-lg" aria-hidden="true"></i>
        WebSites
    </label>

    <main id="project" class="container-90sm-80md-70lg text-center-xs hide-xs-global block-xs-relay">

        <!-- TOOLS -->
        <section class="block-xs-target1">
            <h2 class="color-red-base">
                <i class="fas fa-tools" aria-hidden="true"></i> Tools
            </h2>
            <figure class="gallery">

                {% for toolProject in allToolProjects %}
                    <figure class="btn-tomato anima-rotax-base">
                        <a href="https://github.com/{{ toolProject.link }}" title="Watch {{ toolProject.name }} on GitHub" rel="noreferrer noopener" target="_blank">
                            <img src="img/projects/{{ toolProject.image }}" alt="Screenshot of {{ toolProject.name }}">
                        </a>
                        <figcaption>
                            <a href="https://github.com/{{ toolProject.link }}" title="Watch {{ toolProject.name }} on GitHub" rel="noreferrer noopener" target="_blank">
                                <h3>{{ toolProject.name }}</h3>
                                <p>{{ toolProject.description }}</p>
                                <p>{{ toolProject.year }}</p>
                            </a>
                        </figcaption>
                    </figure>
                {% endfor %}

            </figure>
        </section>

        <!-- WEBSITES -->
        <section class="block-xs-target2">
            <h2 class="color-blue-base">
                <i class="fas fa-globe" aria-hidden="true"></i> WebSites
            </h2>
            <figure class="gallery">

                {% for websiteProject in allWebsiteProjects %}
                    <figure class="btn-sky anima-rotay-base">
                        <a href="https://github.com/{{ websiteProject.link }}" title="Watch {{ websiteProject.name }} on GitHub" rel="noreferrer noopener" target="_blank">
                            <img src="img/projects/{{ websiteProject.image }}" alt="Screenshot of {{ websiteProject.name }}">
                        </a>
                        <figcaption>
                            <a href="https://github.com/{{ websiteProject.link }}" title="Watch {{ websiteProject.name }} on GitHub" rel="noreferrer noopener" target="_blank">
                                <h3>{{ websiteProject.name }}</h3>
                                <p>{{ websiteProject.description }}</p>
                                <p>{{ websiteProject.year }}</p>
                            </a>
                        </figcaption>
                    </figure>
                {% endfor %}

            </figure>
        </section>

    </main>
{% endblock %}