<nav class="navbar">

    <input id="nav-close" class="nav-close" type="radio" name="navbar" checked>
    <input id="nav-open" class="nav-open" type="radio" name="navbar">

    <!-- Home access -->
    <ul class="nav-brand">
        <li>
            <a href="./" title="Home">
                <img src="img/phi.svg" alt="Logo Phi">
            </a>
        </li>
    </ul>

    <!-- Main access -->
    <ul class="nav-main">
        <li>
            <a href="{{ url('project') }}" title="Tools & WebSites">
                <i class="fas fa-project-diagram fa-fw" aria-hidden="true"></i>
                <span>Projects</span>
            </a>
        </li>
        <li>
            <a href="{{ url('service') }}" title="Development & Mentoring">
                <i class="fas fa-tasks fa-fw" aria-hidden="true"></i>
                <span>Services</span>
            </a>
        </li>
        <li>
            <a href="{{ url('certificate') }}" title="Degrees, Paths & Courses">
                <i class="fa fa-certificate fa-fw" aria-hidden="true"></i>
                <span>Certificates</span>
            </a>
        </li>
    </ul>

    <!-- User access -->
    <ul class="nav-info">

        {% if (isLogged()) %}
            <li>
                <p>Hello {{ userName() }}</p>
            </li>
            <li>
                <a href="{{ url('admin') }}" title="Administration">
                    <img src="img/{{ userImage() }}" alt="User Picture">
                </a>
            </li>
            <li>
                <a href="{{ url('user!logout') }}" title="Logout">
                    <i class="fas fa-sign-out-alt fa-fw" aria-hidden="true"></i>
                </a>
            </li>

        {% else %}
            <li>
                <a href="{{ url('user!login') }}" title="Login">
                    <i class="fas fa-sign-in-alt fa-fw" aria-hidden="true"></i>
                </a>
            </li>
        {% endif %}
    </ul>

    <label for="nav-close" class="nav-toggle" title="Close the Navigation Menu">
        <i class="fas fa-angle-double-up fa-lg" aria-hidden="true"></i>
    </label>
    <label for="nav-open" class="nav-toggle" title="Open the Navigation Menu">
        <i class="fas fa-angle-double-down fa-lg" aria-hidden="true"></i>
    </label>
</nav>
