<nav class="navbar">

    <input id="navbar-close" type="radio" name="navbar" checked>
    <input id="navbar-open" type="radio" name="navbar">

    <!-- Home access -->
    <a class="anima-rota-onto" href="./" accesskey="h" title="Home">
        <img src="img/phi.svg" alt="Logo Phi">
    </a>

    <!-- Main access -->
    <ul>
        <li>
            <a href="{{ url('project') }}" accesskey="p" title="Tools & WebSites">
                <i class="fas fa-project-diagram fa-fw" aria-hidden="true"></i>
                <span>Projects</span>
            </a>
        </li>
        <li>
            <a href="{{ url('job') }}" accesskey="j" title="Professional Experiences">
                <i class="fas fa-suitcase fa-fw" aria-hidden="true"></i>
                <span>Jobs</span>
            </a>
        </li>
        <li>
            <a href="{{ url('certificate') }}" accesskey="c" title="Degrees, Paths & Courses">
                <i class="fas fa-certificate fa-fw" aria-hidden="true"></i>
                <span>Certificates</span>
            </a>
        </li>
    </ul>

    <!-- User access -->
    <ul>

        {% if (isLogged()) %}
            <li>
                <a href="{{ url('admin') }}" accesskey="a" title="{{ getUserVar('name') }} Admin">
                    <img class="bord-circle" src="img/user/{{ getUserVar('image') }}" alt="{{ getUserVar('name') }} Picture">
                </a>
            </li>
            <li>
                <a href="{{ url('user!logout') }}" accesskey="l" title="Logout">
                    <i class="fas fa-sign-out-alt fa-fw" aria-hidden="true"></i>
                </a>
            </li>

        {% else %}
            <li>
                <a href="{{ url('user') }}" accesskey="l" title="Login">
                    <i class="fas fa-sign-in-alt fa-fw" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="{{ url('contact') }}" accesskey="a" title="Contact">
                    <i class="fas fa-at fa-fw" aria-hidden="true"></i>
                </a>
            </li>
        {% endif %}
    </ul>

    <label for="navbar-close" title="Close the Navigation Menu">
        <i class="fas fa-angle-double-up fa-lg" aria-hidden="true"></i>
    </label>
    <label for="navbar-open" title="Open the Navigation Menu">
        <i class="fas fa-angle-double-down fa-lg" aria-hidden="true"></i>
    </label>
</nav>
